
<h1 style="text-align: center">Welcome <span class="seven">to</span> Home</h1>
<fieldset >
    <legend>Sign<span class="ten">In</span></legend>
<div  layout="row" layout-align="center" style="margin: 50px 180px">

    <div layout="column">


    <md-content class="five">
    <md-input-container class="md-icon-float" >
        <!-- Usefloating label instead of placeholder -->
        <label>Name</label>
        <md-icon md-svg-src="img/icons/svg/account-box.svg" class="name"></md-icon>
        <input ng-model="Iname" type="text">
    </md-input-container>
    <md-input-container class="md-icon-float">
        <label>Password</label>
        <md-icon md-svg-src="img/icons/svg/security.svg"></md-icon>
        <input ng-model="Ipassword" type="password">

    </md-input-container>


    <a ng-link="view" class="nine"> Forgot Password?</a>

<div class="eight">


<md-button class="md-raised md-primary" style="box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);" ng-click="Usignin()">signIn</md-button>
<md-button class="md-raised md-primary" ng-click="yoursignup()" style="box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);">signUp</md-button>
    <md-button class="md-raised md-primary" style="box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);" ng-click="anonymous()">go Anonymously</md-button>
    <br>
    <h4 style="margin-left: 20px">or SignIn with:</h4>
   <div layout="row">
    <div>
        <md-button class="md-raised " ng-click="facebook()" style="box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50); width: 100px"><md-icon md-svg-src="img/icons/svg/facebook.svg" class="name"></md-icon></md-button>
    </div>
    <div>
        <md-button class="md-raised " ng-click="google()" style="box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50); width: 100px"><md-icon md-svg-src="img/icons/svg/google.svg" class="name"></md-icon></md-button>
    </div>
       <div>
           <md-button class="md-raised " ng-click="github()" style="box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50); width: 100px"><md-icon md-svg-src="img/icons/svg/github-circle.svg" class="name"></md-icon></md-button>
                    </div>
                 </div>
            </div>
        </md-content>

    </div>
</div>
</fieldset>
