<h1 style="text-align: center; margin-top: -8px">Welcome <span class="six">In</span> Chatroom</h1>
<div layout="row" layout-align="center" style="height:100%;">
<md-content class="md-padding" style="width:65% " >
    <md-card >

        <md-card-content style="border: solid #e9e9e9; width: 100%"  layout="row" >

           <h3 flex>User List</h3>
            <h3> Messages</h3>


        </md-card-content>

    </md-card>
    <div layout="row" >
        <div flex="25"  >
            <md-card  style=" border:solid #e9e9e9;height: 450px; overflow: auto">danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish danishdanish danish danish  </md-card>

        </div>
        <div flex="75" >
            <md-card style="border: solid black;width: 95%; " >dandanishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish ddanishdanish danish danish danishdanish danish danish danishdanish danish d</md-card>
        </div>
</div>

</md-content>

</div>

